flows.json
[
    {
        "id": "9b7e1fa5ab1f23a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2a9b03e5fcafc92",
        "type": "inject",
        "z": "9b7e1fa5ab1f23a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "0ea93e99f21b7a0a"
            ]
        ]
    },
    {
        "id": "0ea93e99f21b7a0a",
        "type": "debug",
        "z": "9b7e1fa5ab1f23a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "23d6d2a994ec190e",
        "type": "inject",
        "z": "9b7e1fa5ab1f23a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 60,
        "y": 280,
        "wires": [
            [
                "1183845222076d9a"
            ]
        ]
    },
    {
        "id": "1183845222076d9a",
        "type": "debug",
        "z": "9b7e1fa5ab1f23a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "c8d92e1fef486732",
        "type": "inject",
        "z": "9b7e1fa5ab1f23a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "d3c4ec4f8890c535"
            ]
        ]
    },
    {
        "id": "d3c4ec4f8890c535",
        "type": "debug",
        "z": "9b7e1fa5ab1f23a5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "d1f072bd1cc77eaa",
        "type": "inject",
        "z": "9b7e1fa5ab1f23a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "750a95fa86556e81"
            ]
        ]
    },
    {
        "id": "750a95fa86556e81",
        "type": "debug",
        "z": "9b7e1fa5ab1f23a5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 620,
        "wires": []
    }
]